apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "${{ values.service_name }}.fullname" . }}
  labels:
    {{- include "${{ values.service_name }}.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "${{ values.service_name }}.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "${{ values.service_name }}.selectorLabels" . | nindent 8 }}
    spec:
      {{- if .Values.secrets.enabled }}
      volumes:
        - name: secrets-store
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: {{ include "${{ values.service_name }}.fullname" . }}-secrets
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          {{- if .Values.secrets.enabled }}
          volumeMounts:
            - name: secrets-store
              mountPath: /mnt/secrets-store
              readOnly: true
          envFrom:
            - secretRef:
                name: {{ include "${{ values.service_name }}.fullname" . }}-secrets
          {{- end }}
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- if .Values.env }}
          env:
            {{- toYaml .Values.env | nindent 12 }}
          {{- end }}
