# Ingress resource for ApplicationEnvironment
# Exposes frontend (/) and backend (/api) via NGINX ingress with TLS
resources:
  - name: ingress
    base:
      apiVersion: kubernetes.crossplane.io/v1alpha2
      kind: Object
      spec:
        forProvider:
          manifest:
            apiVersion: networking.k8s.io/v1
            kind: Ingress
            metadata:
              name: ""
              labels:
                app.kubernetes.io/component: ingress
              annotations:
                cert-manager.io/cluster-issuer: letsencrypt-prod
            spec:
              ingressClassName: nginx
              tls:
                - hosts: [""]
                  secretName: ""
              rules:
                - host: ""
                  http:
                    paths:
                      - path: /
                        pathType: Prefix
                        backend:
                          service:
                            name: ""
                            port:
                              number: 80
                      - path: /api
                        pathType: Prefix
                        backend:
                          service:
                            name: ""
                            port:
                              number: 80
    patches:
      - type: PatchSet
        patchSetName: common-labels
      - type: PatchSet
        patchSetName: namespace-patch
      - type: CombineFromComposite
        combine:
          variables:
            - fromFieldPath: spec.parameters.appName
            - fromFieldPath: spec.parameters.environment
          strategy: string
          string:
            fmt: "%s-%s-ingress"
        toFieldPath: spec.forProvider.manifest.metadata.name
      - type: CombineFromComposite
        combine:
          variables:
            - fromFieldPath: spec.parameters.appName
            - fromFieldPath: spec.parameters.environment
          strategy: string
          string:
            fmt: "ingress-%s-%s"
        toFieldPath: metadata.name
      - type: FromCompositeFieldPath
        fromFieldPath: spec.parameters.ingress.host
        toFieldPath: spec.forProvider.manifest.spec.rules[0].host
      - type: FromCompositeFieldPath
        fromFieldPath: spec.parameters.ingress.host
        toFieldPath: spec.forProvider.manifest.spec.tls[0].hosts[0]
      - type: CombineFromComposite
        combine:
          variables:
            - fromFieldPath: spec.parameters.appName
            - fromFieldPath: spec.parameters.environment
          strategy: string
          string:
            fmt: "%s-%s-tls"
        toFieldPath: spec.forProvider.manifest.spec.tls[0].secretName
      - type: FromCompositeFieldPath
        fromFieldPath: spec.parameters.ingress.clusterIssuer
        toFieldPath: spec.forProvider.manifest.metadata.annotations["cert-manager.io/cluster-issuer"]
      - type: CombineFromComposite
        combine:
          variables:
            - fromFieldPath: spec.parameters.appName
            - fromFieldPath: spec.parameters.environment
          strategy: string
          string:
            fmt: "%s-%s-frontend"
        toFieldPath: spec.forProvider.manifest.spec.rules[0].http.paths[0].backend.service.name
      - type: CombineFromComposite
        combine:
          variables:
            - fromFieldPath: spec.parameters.appName
            - fromFieldPath: spec.parameters.environment
          strategy: string
          string:
            fmt: "%s-%s-backend"
        toFieldPath: spec.forProvider.manifest.spec.rules[0].http.paths[1].backend.service.name
