apiVersion: networking.istio.io/v1beta1
kind: ServiceEntry
metadata:
  name: spoke-cluster
  namespace: istio-ingress
spec:
  hosts:
    - spoke.internal
  location: MESH_EXTERNAL
  ports:
    - number: 80
      name: http
      protocol: HTTP
  resolution: STATIC
  endpoints:
    # Spoke external ingress gateway IP (hub routes via internet to spoke)
    - address: "20.253.1.93"
