apiVersion: azure.upbound.io/v1beta1
kind: ProviderConfig
metadata:
  name: default
spec:
  credentials:
    source: UserAssignedManagedIdentity
  clientID: c4ec1349-a0b3-4ef5-bb58-c4fa5b66320c
  tenantID: 354b7ce2-bca3-4af5-b19a-e05a09b68a7b
  subscriptionID: f989de0f-8697-4a05-8c34-b82c941767c0
