apiVersion: pkg.crossplane.io/v1beta1
kind: DeploymentRuntimeConfig
metadata:
  name: azure-workload-identity
spec:
  deploymentTemplate:
    spec:
      selector: {}
      template:
        metadata:
          labels:
            azure.workload.identity/use: "true"
        spec:
          containers:
            - name: package-runtime
              env:
                - name: AZURE_CLIENT_ID
                  value: "08664cfe-8897-4a1b-9ee7-e7f69ff93bb2"
                - name: AZURE_TENANT_ID
                  value: "354b7ce2-bca3-4af5-b19a-e05a09b68a7b"
                - name: AZURE_FEDERATED_TOKEN_FILE
                  value: /var/run/secrets/azure/tokens/azure-identity-token
              volumeMounts:
                - name: azure-identity-token
                  mountPath: /var/run/secrets/azure/tokens
                  readOnly: true
          volumes:
            - name: azure-identity-token
              projected:
                sources:
                  - serviceAccountToken:
                      audience: api://AzureADTokenExchange
                      expirationSeconds: 3600
                      path: azure-identity-token
