apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: ${{ values.serviceName }}-prod-vs
  namespace: istio-ingress
  labels:
    team: ${{ values.team }}
    environment: prod
    created-by: backstage
spec:
  hosts:
    - "${{ values.serviceName }}-prod.chrishouse.io"
  gateways:
    - main-gateway
  http:
    - route:
        - destination:
            # Route to spoke cluster via ServiceEntry
            host: spoke.internal
            port:
              number: 80
          headers:
            request:
              set:
                Host: ${{ values.serviceName }}-prod.chrishouse.io
