name: "Terraform: Prod"

on:
  pull_request:
    paths:
      - "infra/environments/prod/**"
      - "infra/modules/**"
  push:
    branches:
      - main
    paths:
      - "infra/environments/prod/**"
      - "infra/modules/**"

concurrency:
  group: terraform-prod-state
  cancel-in-progress: false

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  terraform:
    uses: ./.github/workflows/terraform-reusable.yml
    with:
      environment: prod
    secrets: inherit
